#Theme Name: NanoClone
#Notes: Replica of the original Apple iPod Nano with Volume Control
#By: Billy Blair
#Platform: iPod Nano (176x132x16) - Standard build
#Version: 5.2
#Licensed CC-BY-SA 3.0
#Last updated: 3/2015
wps: /.rockbox/wps/NanoClone.wps
sbs: /.rockbox/wps/NanoClone.sbs
font: /.rockbox/fonts/14-MyriadPro-Semibold.fnt
#font: /.rockbox/fonts/NanoClone10Bd-18.fnt
#backdrop: /.rockbox/backdrops/NanoClone.bmp
#iconset: /.rockbox/icons/nanoclone_no_icons_6x12.bmp
filetype colours: -
ui viewport: -
#ui viewport: 0,0,176,128,1,000000,FFFFFF
statusbar: off
show icons: off
scrollbar: off
line selector text color: FFFFFF
line selector start color: 639CE3
line selector end color: 2866DD
selector type: bar (gradient)
foreground color: 000000
background color: FFFFFF
#hold_lr_for_scroll_in_list: on
#Screen Scrolls Out Of View
#contrast: 20
#time format: 12hour
#bidir limit: 10
#scroll speed: 10
#scroll delay: 50
#scroll step: 2